@model Product
@{
    bool IsExist = (Model == null || Model.Id == 0) ? false : true;
    ViewData["Title"] = IsExist ? "Update product" : "Create product";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(IsExist ? "Update" : "Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="col-12">
                <div class="border p-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Name" class="form-control border-0 shadow" />
                        <label asp-for="Name" class="ms-2"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="py-2 col-12">
                        <label asp-for="Description" class="ms-2 text-muted"></label>
                        <textarea asp-for="Description" class="form-control border-0 shadow"></textarea>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Price" class="form-control border-0 shadow" type="number" />
                        <label asp-for="Price" class="ms-2"></label>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <select asp-for="CategoryId" asp-items="ViewBag.CategorySelectList" class="form-select border-0 shadow">
                            <option disabled selected>-- Select Category --</option>
                        </select>
                        <label asp-for="CategoryId" class="ms-2"></label>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-check py-2 col-12">
                        <input asp-for="IsPromoted" class="form-check-input border-0 shadow" />
                        <label asp-for="IsPromoted" class="form-check-label"></label>
                        <span asp-validation-for="IsPromoted" class="text-danger"></span>
                    </div>
                    <div class="form-check py-2 col-12">
                        <input asp-for="IsEnabled" class="form-check-input border-0 shadow" />
                        <label asp-for="IsEnabled" class="form-check-label"></label>
                        <span asp-validation-for="IsEnabled" class="text-danger"></span>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control">@(IsExist ? "Update" : "Create")</button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border form-control">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons link lists searchreplace table visualblocks wordcount linkchecker',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });

        function DeleteImage(url) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            dataTable.ajax.reload();
                            toastr.success(data.message);
                        }
                    })
                }
            });
        }
    </script>

    @{
            <partial name="_ValidationScriptsPartial" />
    }
}